
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Lỗi không có quyền
    }
<div class="alert alert-danger">
    Bạn không có quyền truy cập.
</div>

