@model List<OnlineShop.Models.CartItem>
<div class="cart">
    <p>
        Chào mừng bạn đến với website <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>
</div>