@model Model.EF.Content
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@Model.Name</h3>
        </div>

        <div class="clear"></div>
    </div>
    <div class="section-group">
        @Html.Raw(Model.Detail)
        <ul>
            @{
                var tags = (List<Model.EF.Tag>)ViewBag.Tags;
                foreach (var tag in tags)
                {
                    <li><a href="/tag/@tag.ID">@tag.Name</a></li>
                }
            }
        </ul>
    </div>
</div>

